/* --------------- quick-checkout style1 --------------- */
.quick-checkout {
    position: relative;

    .coupon-box {
        position: relative;
        padding: 30px;
        background: linear-gradient(180deg, #f0f4f9 0%, rgba(246, 247, 251, 0) 100%);
        border-radius: 15px;
        overflow: hidden;
        .form-group {
            position: relative;
            margin-top: 24px;
            .form-control {
                border: 0;
                box-shadow: 0 0 20px #00000005;
                border-radius: 10px;
                min-height: 50px;
            }
            button {
                position: absolute;
                right: 5px;
                bottom: 5px;
                border: 0;
                padding: 10px 20px;
                border-radius: 8px;
                background-color: #f5f5f5;
                color: #555;
                z-index: 10;
                transition: all 0.3s ease;
                &:hover {
                    background-color: var(--color-green2);
                    color: #fff;
                }
            }
        }
    }

    .price-list {
        position: relative;
        padding: 20px 30px;
        background: linear-gradient(180deg, #f0f4f9 0%, rgba(246, 247, 251, 0) 100%);
        border-radius: 15px;
        overflow: hidden;
        margin-top: 30px;
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 15px 0;
            &:last-of-type {
                padding-top: 15px;
                border-top: 1px solid #9995;
            }
        }
    }


}


@media screen and (max-width: 991px) {
    .quick-checkout {

    }
}



@media print {
    .tc-navbar-container-style3,
    .tc-breadcrumb-style6,
    .tc-footer-style3,
    .tc-banner-style3,
    .btns {
        display: none;
    }
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

